/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
;

body {
  background: $primary-background;
}

.login-info {
  background-color: #2ae698;
  height: 12em;
  width: 15em;
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin: 12em 0
}

.user-inputs {
  margin: .5em;
  width: 75%;
}

.manager-dashboard {
  display: flex;
  justify-content: space-around;
}

.manager-view {
  background-color: white;
    height: 10em;
    width: 10em;
    text-align: center;
}

.customer-dashboard {
  display: flex;
  justify-content: space-around;
}

.customer-view {
  background-color: white;
  height: 10em;
  width: 10em;
  text-align: center;
}

.hidden {
  display: none;
}