/* This is an example of using Sass, otherwise plain CSS works too*/
// $primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
;

body {
  background: url("../images/hotel-motel.jpg") no-repeat center / 100% 100% fixed;
}

div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  // background-color: wheat;
  margin: 1em 0 1em 1em;
  border-style: solid;
  border-color: black;
}

.room-description {
  width: 7em;
  background-color: white;
  align-content: center;
  text-align: center;
  border-style: solid;
  border-color: black;
}

.room-image {
  width: 14.1em;
  height: 10em;
}

.user-name {
  background-color: wheat;
  width: 10.5em;
  border-radius: .2em;
  text-align: center;
  border: .15em black solid;
  box-shadow: 5px 5px 5px black;
}

.login-info {
  background-color: #2ae698;
  height: 12em;
  width: 12em;
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin: 12em 0;
  border-style: solid;
  border-color: black;
}

.user-inputs {
  margin: .5em;
  width: 75%;
}

.manager-dashboard {
  display: flex;
  justify-content: space-between;
}

.manager-view {
  background-color: wheat;
  height: 10em;
  width: 10em;
  text-align: center;
  margin: 1em;
  border: .3em black solid;
  box-shadow: 5px 5px 5px black;
}

.customer-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.customer-view {
  height: 3em; 
  width: 20em;
  text-align: center;
  margin: 1em;
  border: .3em black solid;
}

.customer-cost {
  background-color: wheat;
  box-shadow: 5px 5px 5px black;
}

.customer-rooms {
  background-color: #2ae698;
  height: 100%;
  box-shadow: 5px 5px 5px black;
}

.booking-section {
  display: flex;
  justify-content: left;
  padding: 1em;
  background-color: wheat;
  border: .3em black solid;
  box-shadow: 5px 5px 5px black;
}

#booked-rooms {
  margin: 1em;
  display: flex;
  justify-content: space-around;
  background-color: wheat;
  border: .3em black solid;
  box-shadow: 5px 5px 5px black;
}

.customer-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.booking-section {
  display: flex;
  justify-content: end;
  flex-direction: column;
}

.filter-types {
  display: flex;
  justify-content: center;
  height: fit-content;
  flex-direction: column;
  margin: 1em;
}

.filter-rooms {
  background-color: #2ae698;
  border: .3em black solid;
  margin: 1em;
}

.filtered-rooms {
  background-color: wheat;
  width: 10em;
  height: 100%;
  margin: 1em;
  border: .3em black solid;
  box-shadow: 5px 5px 5px black;
}

.show-available {
  display: flex;
  justify-content: center;
}

.room-container {
  display: flex;
  box-shadow: 5px 5px 5px black;
}

.day-statistics {
  display: flex;
  flex-direction: column;
  background: #2ae698;
  align-items: center;
  height: 12em;
  border: .3em black solid;
  box-shadow: 5px 5px 5px black;
}

.rooms-occupied {
  height: 86%;
  border: .3em black solid;
  margin: 0;
  width: 95.5%;
  box-shadow: 5px 5px 5px black;
  background-color: #2ae698;
}

.manager-rooms {
  height: 100%;
  width: 23.8em;
  border: .3em black solid;
}

.occupied-text {
  text-align: center;
  background: wheat;
  border: .3em black solid;
  box-shadow: 5px 5px 5px black;
}

#occupied-rooms {
  border: .2em black solid;
  padding: 0 0 1em;
  margin: 1em;
  background-color: wheat;
  box-shadow: 5px 5px 5px black;
}

.update-section {
  margin-right: 4em;
}

.hidden {
  display: none;
  border-style: solid;
  border-color: black;
}